<html>
	<head>
		<title>Advanced Grid</title>
		<link rel="stylesheet" type="text/css" href="style.css">

	</head>
	
	<body>
		<div id="header">
			<div id="logo"><img src="img/lion.png" alt="Vivixx">VIVIXX CORPORATION</div>
			<div id="menu">
				<ul>
					<li><a href="index.html">HOME</a></li>
					<li><a href="about.html"></a>ABOUT</li>
					<li><a href="contact.html"></a>CONTACT</li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>

		<div id="hero"><img src="img/banner.jpg" alt="banner"></div>

		<div id="featured">
			<h1 id="featured-title">Featured</h1>
			<div class="featured-image first"><img src="img/3.jpg" alt="banner"></div>
			<div class="featured-image"><img src="img/2.jpg" alt="banner"></div>
			<div class="featured-image last"><img src="img/2.jpg" alt="banner"></div>
			<div class="featured-image first"><img src="img/3.jpg" alt="banner"></div>
			<div class="featured-image"><img src="img/2.jpg" alt="banner"></div>
			<div class="featured-image last"><img src="img/2.jpg" alt="banner"></div>
			<div class="clear"></div>
		</div>

		<div id="footer">
			<div id="address">Vivixx Corporation</div>
			<div id="copyright">&copy; 2018 Vivixx</div>
		</div>

	</body>
</html>
