@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

.clear{
	clear: both;
}

body{
	padding: 20px;
	background: #FFFFFF;
}

#header{
	margin: 10px;
	padding: 10px;
	border-bottom: 1px solid #000000;
}

#logo, #menu{
	float:left;
	width: 50%;
}

#logo{
	font-size: 40px;
}

#logo img{
	height: 40px;
	width: auto;
	border-right: 1px solid #000000;
	padding-right: 20px;
	margin-right: 20px;
}

#logo:after{
	clear: both;
}

#menu{
	text-align: right;
	margin-top: 10px;
}

#menu ul{
	list-style: none;
}

#menu ul li{
	display: inline-block;
	text-decoration: none;
	color: #000000;
}

#menu ul li a{
	text-decoration: none;
	color: #000000;
	padding: 10px;
}

#hero{
	width: 100%;
	margin: 20px 0px;
}

#hero img{
	width: 100%;
	height: auto;
}

.featured-image img{
	float: left;
	width: 100%;
	margin: 1% 0 0 0;
}

.featured-image{
	float: left;
	width: 19%;
	margin: 0 1% 1% 0;
}

.featured-image.first{
	float: left;
	width: 59%;
	margin: 0 1% 0 0;
}

#footer{
	margin: 20px;
	padding: 10px;
	border-top: 1px solid #000000;
}

#address, #copyright{
	float:left;
	width: 50%;
}

#copyright{
	text-align: right;
}


